.home {
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* margin: auto; */
    margin-top: 50px;
    margin-left: 10%;
}

.name {
    color: rgb(89, 208, 89);
    font-size: 35px;
    font-family: 'Monda', sans-serif;
}

.my_pic {
    width: 350px;
    height: 300px;
    padding-left: 30px;
    margin-top: 50px;
}

.prof {
    margin: 40px;
    padding-top: 50px;
    text-align: justify;
}

.prof p {
    font-family: 'Abhaya Libre', serif;
}

.abc {
    margin-left: 30px;
}

.hire button {
    background-color: rgb(89, 208, 89);
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 8px;
    color: black;
    margin-top: 30px;
    padding: auto;
    font-size: 15px;
}

.hire:hover {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .home {
        margin: auto;
        margin-top: 30px;
        padding: 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    .prof {
        padding: 0;
        margin: 0;
        text-align: justify;
    }
    .hire button {
        width: 120px;
        font-size: 18px;
    }
    .name {
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px;
    }
    .abc {
        margin: 0;
    }
    .my_pic {
        padding-left: 0;
        margin-top: 0;
    }
}