.home {
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* margin: auto; */
    margin-top: 50px;
    margin-left: 10%;
}

.name {
    color: rgb(89, 208, 89);
    font-size: 35px;
    font-family: 'Monda', sans-serif;
}

.my_pic {
    width: 350px;
    height: 300px;
    margin-top: 50px;
}

img {
    border-radius: 10px;
    border: 7px solid white;
}

.img-rotate {
    -webkit-transform: rotate(354deg);
    -moz-transform: rotate(354deg);
    -ms-transform: rotate(354deg);
    -o-transform: rotate(354deg);
    -webkit-transform: rotate(354deg);
    transform: rotate(354deg);
}

.prof {
    margin: 40px;
    padding-top: 50px;
    text-align: justify;
    font-size: 20px;
}

.nwoye {
    color: white;
}

.full-stack {
    color: rgb(89, 208, 89);
}

.prof p {
    font-family: 'Abhaya Libre', serif;
    text-align: justify;
}

.abc {
    margin-left: 30px;
}

.resume button {
    background-color: rgb(89, 208, 89);
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 8px;
    color: rgb(26, 19, 56);
    margin-top: 30px;
    padding: auto;
    font-size: 15px;
}

.resume a {
    color: rgb(26, 19, 56);
}

.resume:hover {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .home {
        margin: auto;
        margin-top: 30px;
        padding: 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    .prof {
        padding: 0;
        margin: 0;
        text-align: justify;
    }
    .resume button {
        width: 120px;
        font-size: 18px;
    }
    .name {
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px;
    }
    .abc {
        margin: 0;
    }
    .my_pic {
        padding-left: 0;
        margin-top: 0;
        margin-left: 5px;
        margin-bottom: 30px;
        width: 330px;
    }
}